* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a2 {
  position: relative;
  display: inline-block;
  padding: 30px 40px;
  margin: 40px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 2.3rem;
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: bold;
  margin-right: 50px;
  background-color: #1f2128;
}
@media (max-width: 600px) {
  .a2 {
    font-size: 1.5rem;
    padding: 20px 30px;
    margin: 20px 0;
  }
}
.a2:hover {
  background: linear-gradient(to left, #f808c1, #af82f7, #16c6ed);
  color: #fff;
  /* box-shadow: 0 0 5px #f808c1, 0 0 25px #af82f7, 0 0 50px #16c6ed,
    0 0 200px #f808c1;
  -webkit-box-reflect: below 1px linear-gradient(#000); */
}

.a2 span {
  position: absolute;
  display: block;
}
.a2 span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #f808c1, #af82f7, #16c6ed);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.a2 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, #f808c1, #af82f7, #16c6ed);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.a2 span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f808c1, #af82f7, #16c6ed);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.a2 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, #f808c1, #af82f7, #16c6ed);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
